Package: dtools
Version: 0.100-0
Architecture: amd64
Maintainer: J.F.Gratton <nexus@famillegratton.net>
Description: A golang-based docker swiss knife
 Multiple docker utilies bundled in a single executable
Section: Administration Utilities
Depends: gcc
